<h1 class="govuk-heading-xl">View a random image from the Government Art Collection</h1>

<p class="govuk-body"><em><%= title %></em> by <em><%= artist %></em>, <em><%= date %></em></p>
<img src="<%= url %>" alt="<%= title %>">
